@model PostalCodeTest.Models.Village

@{
    ViewData["Title"] = ViewBag.PageName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1> @ViewBag.PageName</h1>
<div class="row pt-2">
    <div class="col-md-2 pl-0">
        Provinsi:
    </div>    
    <div class="col-md-4 pl-0">
        @Html.DropDownList("Provinsi", new SelectList(ViewBag.ProvinceList, "Value","Text"), "Pilih Provinsi", new { @class = "form-control" })
    </div>
</div>

<div class="row pt-2">
    <div class="col-md-2 pl-0">
        Kota:
    </div>    
    <div class="col-md-4 pl-0">
        <select id="City" class="form-control">
        </select>
    </div>
</div>

<div class="row pt-2">
    <div class="col-md-2 pl-0">
        Kecamatan:
    </div>    
    <div class="col-md-4 pl-0">
        <select id="District"  class="form-control">
        </select>
    </div>
</div>

<div class="row pt-2">
    <div class="col-md-2 pl-0">
        Nama Desa:
    </div>    
    <div class="col-md-4 pl-0">
        @Html.TextBoxFor(Model => Model.VillageName, new { @class = "form-control" })
    </div>
</div>

<div class="row pt-2">
    <div class="col-md-2 pl-0">
        Kode Pos:
    </div>    
    <div class="col-md-4 pl-0">
        @Html.TextBoxFor(Model => Model.PostalCode, new { @class = "form-control" })
    </div>
</div>

<div class="row  pt-2">
    <div class="col-md-3 pl-0">
        <button id="btnCancel" type="button" class="btn btn-secondary">Cancel</button>

        <button id="btnSave" type="button" class="btn btn-primary">Save</button>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#Provinsi').on("change", function () {
            var Provinsi = $('#Provinsi').val();
            var obj = { id: Provinsi };
            var url = "@Url.Action("CityJson")";

            $.ajax({
                url: url,
                data: obj,
                method: "POST",
                success: function (response) {
                    $('#City').html('');
                    var options = '';
                    options += '<option value="Select">Select</option>';
                    for (var i = 0; i < response.length; i++) {
                        options += '<option value="' + response[i].value + '">' + response[i].text + '</option>';
                    }
                    $('#City').append(options);

                },

            });

        });

        $('#City').on("change", function () {
            var Provinsi = $('#Provinsi').val();
            var obj = { id: Provinsi };
            var url = "@Url.Action("DistrictJson")";

            $.ajax({
                url: url,
                data: obj,
                method: "POST",
                success: function (response) {
                    $('#District').html('');
                    var options = '';
                    options += '<option value="Select">Select</option>';
                    for (var i = 0; i < response.length; i++) {
                        options += '<option value="' + response[i].value + '">' + response[i].text + '</option>';
                    }
                    $('#District').append(options);

                },

            });

        });

        $("#btnCancel").click(function () {
            window.location.href = '@Url.Action("Index", new { page = 1 })';
        });

        $("#btnSave").click(function () {
            var Id = '@Html.Raw(ViewBag.Id)';
            var isNewData = Id == null || Id == "";

            var url = isNewData ? "@Url.Action("Add")" : "@Url.Action("Edit")/" + Id;
            var data = getFormData();
            if (data.DistrictId == null)
            {
                alert("Kecamatan Harus Ada Isinya");
                return;
            }

            $.post(url, data, function (response) {
                if (!response.Success) {
                    alert("Save berhasil");
                    window.location.href = '@Url.Action("Index")';
                } else {
                    alert("Save Gagal");
                }
            });


        });

    })

    function getFormData() {
        return {
            DistrictId: $('#District').val(),
            VillageName: $('#VillageName').val(),
            PostalCode: $('#PostalCode').val(),
        };
    }

</script>